<button ngbDropdownItem (click)="open(content)"><i class="fas fa-cog"></i> Settings</button>

<ng-template #content let-modal size="lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-sm-6">
          <img [src]="profileSrc || '../../assets/icons/default-profile.png'" width="50px" height="50px" alt="profile-pic"
               class="rounded-circle" >
        </div>
        <div class="col-sm-6">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event)">
            <label class="custom-file-label" for="customFile">{{fileName}}</label>
          </div>
        </div>
      </div>
      <hr>
      <h5>Security</h5>
      <div class="row">
        <div class="col-sm-6">
          <label for="email">Email address</label>
        </div>
        <div class="col-sm-6">
          <input type="email" (keyup)="checkIfValidEmail()" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="currentEmail" name="email" placeholder="Enter email"/>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
<!--          <label for="password">Reset </label>-->
        </div>
        <div class="col-sm-6">
          <button type="button" aria-describedby="pwdHelp" class="btn btn-danger" (click)="resetPassword()">Reset Password</button>
          <small id="pwdHelp" class="form-text text-muted">Sends a link to your email address to reset your password.</small>
        </div>
      </div>

      <hr>
      <h5>Customization</h5>
      <div class="row">
        <div class="col-sm-6">
          <label for="theme">Theme</label>
        </div>
        <div class="col-sm-6">
          <select
            #themeSelect
            (change)="selectedTheme(themeSelect.value)" class="form-control" id="theme">
              <option value="sun" [selected]="selectedOption">Light  &#xf185;</option>
              <option value="moon" [selected]="!selectedOption">Dark  &#xf186;</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
  </div>
</ng-template>
