<div class="container viewport-header" >
<video  [muted]="true" autoplay playsinline loop>
  <source src="../../assets/LiveWallpapers/mylivewallpapers.com-Japanese-Autumn-Leaves.mp4" type="video/mp4">
</video>
  <div class="row">
    <form [formGroup]="account" class="text-center border border-light p-5">

      <img src="../../assets/icons/icon.ico" style="width: 100px; height: 100px;">

      <!-- Email -->
      <input type="email" formControlName="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

      <!-- Password -->
      <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">



      <!-- Sign in button -->
      <button class="btn btn-primary" (click)="login()">Sign in <i class="fas fa-sign-in-alt"></i></button>

      <!-- Register -->
      <p class="mt-4">Not a member?
        <a [routerLink]="['/signup']">Register</a>
      </p>

    </form>
  </div>
</div>



<app-toasts></app-toasts>
