
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  background-color: var(--bg);
  border-color: var(--bg-hr) !important;
  margin: 0 auto;
  z-index: 1;
}

form img {
  margin-bottom: 10px;
}
