<div class="container viewport-header">
  <video [muted]="true" autoplay playsinline loop>
    <source src="../../assets/LiveWallpapers/mylivewallpapers.com-Digital-HUD-Techno.mp4" type="video/mp4">
  </video>
  <div class="row">
    <form [formGroup]="account" (ngSubmit)="signUp()"  class="text-center border border-light p-5">

      <img src="../../assets/icons/icon.ico" style="width: 100px; height: 100px;">

      <!-- Email -->
      <input type="email" [(ngModel)]="user.email" formControlName="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

      <!-- Password -->
      <input type="password" [(ngModel)]="user.password" formControlName="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

      <!-- Sign in button -->
      <button type="submit" mdbBtn color="info" block="true" class="my-4" (click)="signUp()">Sign Up</button>

    </form>
    <!-- Default form login -->
  </div>
</div>


<app-toasts></app-toasts>

